.pick-users-title {
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px; 
  }
  
  .select-container {
    width: 80%;
    margin-left: 125px;
  }
  
  /* Additional styles for icon, name, and email within options */
  .Select-option > span {
    display: flex;
    align-items: center;
    width: 100%;
    
  }
  
  .Select-option > span > img {
    /* Style for circle image icon */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .Select-option > span > div {
    /* Adjust layout for name and email */
    display: flex;
    flex-direction: column;
  }
  
  .Select-value-label > span {
    /* Display only image and name for selected options */
    display: flex;
    align-items: center;
  }
  
  .Select-option.is-highlighted {
    backgroundcolor: lightblue; /* Ensure this matches the inline style */
  }
  
  /* To also highlight the X icon, if it's not already affected by the above rule: */
  .Select-option.is-highlighted .Select-clear-indicator {
    color: lightblue; /* Or any preferred highlight color */
  }
  